.main{
    height: 100vh;
    flex-direction: column;
    display: flex;
}
.main .header {
    display: flex;
    height: 60px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.main .wrapper{
    display: flex;
    flex: 1;
}
.wrapper .sidebar{
    width: 253px;
}
.wrapper .contents{
    width: 85%;
    flex: 1;
}
.wrapper .contents .content {
    height: 700px;
    width: auto;
    margin-left: 10px;
    margin-top: 10px;
}