 dialog{
    width: 500px;
    height: 220px;
    background-color: aquamarine;
    border-radius: 5px;
    border: 2px solid cyan;
}

 #text-note {
    background-color: crimson;
    color: white;
}
 #btnYES, #btnNO{
    background-color: crimson;
    color: aliceblue;
    border: 1px solid crimson;
    margin-top: 40px;
    width: 100px;
    margin-left: 100px;
    height: 30px;
    border-radius: 5px;
}
 #btnNO{
    background-color: green;
    color: aliceblue;
    border: 1px solid green;
    margin-top: 40px;
    width: 100px;
    margin-left: 100px;
    height: 30px;
    border-radius: 5px;
}
#btnOK {
    background-color: green;
    color: aliceblue;
    border: 1px solid green;
    margin-top: 60px;
    width: 100px;
    margin-left: 160px;
    height: 30px;
    border-radius: 5px;
}
h1, h3{
    text-align: center;
    color: red;
}
/*căn giữa dialog*/
dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 8px;
  padding: 20px;
}
/*làm mờ nền sau dialog*/
dialog::backdrop {
  background: rgba(0, 0, 0, 0.4);
}
