<div class="col-header-left">
    <button>Admin</button>
</div>
<div class="col-header-center">
    <div id="search">
        <input type="text" id="search" name="search" placeholder="search...">
        <button><i class="bi bi-search"></i></button>
    </div>
    <div id="notification" class="d-flex gap-4">
        <button class="btn p-0 border-0 bg-white position-relative">
            <i class="bi bi-chat-left-quote fs-4"></i>
            <span class="position-absolute top-0 end-0 
                     badge rounded-pill bg-danger">
                4
            </span>
        </button>

        <button class="btn p-0 border-0 bg-white position-relative">
            <i class="bi bi-bell fs-4"></i>
            <span class="position-absolute top-0 end-0 
                     badge rounded-pill bg-danger">
                3
            </span>
        </button>
    </div>
</div>
<div class="col-header-right">
    <a href="#">Đăng nhập</a> | <a href="#">Đăng xuất</a>
</div>