<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../components/sidebar.css">
</head>
<body>
    <div class="sidebar">
        <ul>
            <li class="btn-manager">
                <a href="" id="dashboard">
                    <span>Dashboard</span>
                    <span>&#8250;</span>
                </a>
            </li>
        </ul>
        <ul>
            <li class="btn-manager">
                <a href="" id="news">
                    <span>Quản lí tin tức</span>
                    <span>&#8250;</span>
                </a>
            </li>
        </ul>
        <ul>
            <li class="btn-manager">
                <a href="" id="article">
                    <span>Quản lí bài viết</span>
                    <span>&#8250;</span>
                </a>
            </li>
        </ul>
        <ul>
            <li class="btn-manager">
                <a href="">
                    <span>Quản lí giải đấu</span>
                    <span>&#8250;</span>
                </a>
            </li>
        </ul>
        <ul>
            <li class="btn-manager">
                <a href="" id="users">
                    <span>Quản lí người dùng</span>
                    <span>&#8250;</span>
                </a>
            </li>
        </ul>
        <ul>
            <li class="btn-manager">
                <a href="">
                    <span>Quản lí tags </span>
                    <span>&#8250;</span>
                </a>
            </li>
        </ul>
    </div>

    <script type="module" src="sidebar.js"></script>
</body>
</html>