<ul>
    <li class="btn-manager">
        <a href="" id="dashboard">
            <span>Dashboard</span>
            <span>&#8250;</span>
        </a>
    </li>
    <li class="btn-manager">
        <a href="" id="news">
            <span>News</span>
            <span>&#8250;</span>
        </a>
    </li>
    <li class="btn-manager">
        <a href="" id="categories">
            <span>Categories</span>
            <span>&#8250;</span>
        </a>
    </li>
    <li class="btn-manager">
        <a href="" id="tags">
            <span>Tags</span>
            <span>&#8250;</span>
        </a>
    </li>
    <li class="btn-manager">
        <a href="">
            <span>Comments</span>
            <span>&#8250;</span>
        </a>
    </li>
    <li class="btn-manager">
        <a href="#userMenu" data-bs-toggle="collapse" role="button" id="users">
            <!-- <i class="menu-icon fa fa-list"></i> -->
            <span>Users Management</span>
            <b class="arrow fa fa-angle-down"></b>
            <span>&#8250;</span>
        </a>

        <ul class="collapse submenu" id="userMenu">
            <li id="staff">
                <a href="" id="staff">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Staff
                </a>
            </li>

            <li id="customers">
                <a href="" id="customers">
                    <i class="menu-icon fa fa-caret-right"></i>
                    Customers
                </a>
            </li>
        </ul>
    </li>
    <li class="btn-manager">
        <a href="">
            <span>Media</span>
            <span>&#8250;</span>
        </a>
    </li>
    <li class="btn-manager">
        <a href="">
            <span>Settings</span>
            <span>&#8250;</span>
        </a>
    </li>
</ul>